
.clearfix:after{
     content: '';
     display: table;
     clear: both;
}

header {
     font-family: 'Spartan', ;
}

.mc-menu{
     margin: 20px 0px 20px;
     height: 80px;
     /* background-color: red; */

}

.mc-menu-sx{
     height: 100%;
     /* background-color: black; */
     display: flex;
     /* justify-content: center; */
     align-items: center;
     padding-left: 10px;
}

.mc-menu-sx img {
     height: 28px;
     margin-left: 10px;
     margin-right: 10px;
     margin-bottom: 5px;
     cursor: pointer;
}

.mc-menu-dx{
     display: flex;
     align-items: center;
     height: 100%;
     padding-right: 10px;
     flex-direction: row-reverse;
     position: relative;
}

.mc-nav-margin{
     margin-left: 30px;

}

.mc-nav {
     font-family: 'Roboto' ;
     padding-left: 10px;
}
.mc-nav a{
     text-decoration: none;
     color: #8b959e;
     padding-right: 15px;
     transition: all 0.2s ease 0s;
}

.mc-nav a:hover {
     color: black;
}

.mc-uppercase {
     text-transform: uppercase;
}

.mc-capitalize{
     text-transform: capitalize;
}

.mc-nav .mc-open-menu::after {
     font-family: 'FontAwesome';
     padding-left: 5px;
     content: '\f107';
     font-weight: 900;
     transition: transform 0.5s;

}

.mc-dropdown{
     display: inline;
     position: relative;
}
.mc-dropdown2{
     display: inline;
     position: relative;
}

.mc-dropdown-content {
     display: none;
     position: absolute;
     width: 100px;
     left: 0px;
     border: 1px solid black;
     background: white;
     box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}

.mc-dropdown-content.mc-active{
     display: block;
}

.mc-dropdown-content.mc-active2{
     display: block;
}


.mc-dropdown-item a {
     display: flex;
     width: 100%;
     text-decoration: none;
     color: #8b959e;
     padding: 10px;
     transition: all 0.2s ease 0s;
}



#pg-active {
     color:black;
}

#btn-purple{
     background-color: rgb(235, 0, 141);
     color: white;
     transition: all 0.2s ease 0s;
     padding: 10px;
     border-radius: 10px;
     border: none;
     cursor: pointer;
}

#btn-purple:hover {
     color: black;
}
